.product-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-page .commentForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 1rem;
  padding: 1rem 0;
  gap: 2rem;
}

.product-page .commentForm textarea {
  margin-bottom: 1rem;
  border-radius: 10px;
  padding: 1rem;
  border: none;
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.3);
  transition: 0.5s ease-in;
}

.product-page .commentForm textarea:focus {
  outline: none;
  box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.5);
}

@media (max-width: 800px) {
  .product-page .commentForm textarea {
    width: 90%;
  }
}
